{{!-- pages/404.hbs --}}

{{#> layouts/base title="404 | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "head-block"}}
  {{/inline}}

  {{#*inline "content-block"}}
    <div class="fb-grid__container">
      <div class="fb-grid__row">
        <div class="fb-grid__col-xs-12 fb-grid__col-sm-12 fb-grid__col-md-12 fb-grid__col-lg-12 fb-grid__col-xl-12 fb-grid__col-12">
          <img src="https://image.ibb.co/g9tzpw/26177714_1531191913636115_1261289537_o.png" alt="404" id="image404">
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}