{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}

<div id="page">
  <!--algemeen stuk opleiding-->
  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
      <div class="picText">
        <img src="https://image.ibb.co/i9SGfR/gdm.jpg" alt="picture of the campus">
        <h5>Grafische en Digitale Media</h5>
        <p>Apps ontwikkelen, websites ontwerpen, advertenties vormgeven, foto's maken en bewerken, de commerciële en financiële
          kant van een grafisch bedrijf doorgronden of zelf een zaak opstarten? Waar je ook van droomt binnen de grafische
          en digitale media, deze opleiding is dé springplank voor je carrière!</p>
      </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    </div>
  </div>
  <!--titel-->
  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
      <h6>Opleidingen</h6>
    </div>
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>

  </div>
  <!--afstudeerrichtingen-->
  <div id="blog">
    <!--MMP-->
    <div class="fb-grid__row margin-top blogSum">
      <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 paddingTop">
        <img src="https://image.ibb.co/fEOdum/mmp.jpg" alt="logo Portfolio rex" class="radius5"> </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
        <h5>Multimediaproductie</h5>
        <span class="date">Werk mee aan de hype van morgen en ontwikkel bij ons de skills voor de toekomst!
          <br> </span>
        <br>
        <a href="./mmp.html">
          <input class="tag tagArticle submit" type="submit" value="Read more" id="submit">
        </a>

      </div>
    </div>
    <!--GMB-->
    <div class="fb-grid__row margin-top blogSum">
      <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 paddingTop">
        <img src="https://image.ibb.co/bvbdS6/grafimediabeleid.jpg" alt="logo Portfolio rex" class="radius5"> </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
        <h5>Grafimediabeleid</h5>
        <span class="date">Zoek je een gevarieerde afstudeerrichting die je klaarstoomt voor een job in de media- of grafische sector?
          <br> </span>
        <br>
        <a href="./gmb.html">
          <input class="tag tagArticle submit" type="submit" value="Read more" id="submit">
        </a>

      </div>
    </div>

    <!--CMO-->
    <div class="fb-grid__row margin-top blogSum">
      <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 paddingTop">
        <img src="https://image.ibb.co/k4QPZm/crossmedia.jpg" alt="logo Portfolio rex" class="radius5"> </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
        <h5>Crossmedia-ontwerp</h5>
        <span class="date">Zoek je een gevarieerde afstudeerrichting die je klaarstoomt voor een job in de media- of grafische sector?
          <br> </span>
        <br>
        <a href="./cmo.html">
          <input class="tag tagArticle submit" type="submit" value="Read more" id="submit">
        </a>

      </div>
    </div>


  </div>





</div>

{{/inline}} {{#*inline "scripts-block"}}
 {{/inline}} {{/layouts/base}}