{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}
  <div id="page">
    <!--algemeen stuk gmd-->
    <div class="fb-grid__row">
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
        <div class="picText">
          <img src="https://image.ibb.co/k4QPZm/crossmedia.jpg">
          <h5>Crossmedia-ontwerp</h5>
          <p>Logo’s ontwerpen, ideeën uittekenen en vormgeven: spreekt dat je aan? Dan is deze afstudeerrichting zeker iets voor
            jou.
            <br> Bij Crossmedia-ontwerp staat creatief denken centraal, maar leer je ook om rekening te houden met technische uitvoermogelijkheden.
            Halfweg het tweede jaar kan je kiezen uit twee trajecten om je nog verder te specialiseren: Graphic Design en Photo
            Design.</p>
        </div>
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      </div>
    </div>
  
    <!--GD-->
    <div class="fb-grid__row">
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
        <div class="picText">
          <img src="https://image.ibb.co/fqbWEm/graphic_Design.jpg">
          <h5>Graphic Design</h5>
          <p>Studenten Graphic Design zijn creatievelingen die origineel en technisch hoogstaand werk willen afleveren. Ze ademen
            mooi en goed design. We spreken dan onder meer over verpakkingen, reclamedrukwerk, huisstijlen of affiches.
            <br> Fotografie is als ondersteunend basispakket in het programma opgenomen.</p>
        </div>
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      </div>
    </div>
  
    <!--PD-->
    <div class="fb-grid__row">
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
        <div class="picText">
          <img src="https://image.ibb.co/btoBEm/photo_Design.jpg">
          <h5>Photo Design</h5>
          <p>Studenten Photo Design houden van de creatieve mix van fotografie en vormgeving. Zij willen het perfecte beeld schieten
            en het vervolgens verwerken in een passende lay-out.
            <br> Fotografie, manuele en digitale vormgeving en typografie zijn de pijlers van deze opleiding.</p>
        </div>
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      </div>
    </div>


{{/inline}} {{#*inline "scripts-block"}}
 {{/inline}} {{/layouts/base}}