{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}

<div id="page">
  <div id="artwork">

  </div>


  <div class="fb-grid__row" id="child">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
      <div id="parentArtwork">
        <h6 id="childArtwork">more like this</h6>
      </div>
    </div>
    <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2"> </div>
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3"> </div>
  </div>

  <div id="blog">

  </div>

</div>
{{/inline}} {{#*inline "scripts-block"}}

<script>
  console.log('json is called in');

  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
      vars[key] = value;
    });
    return vars;
  }

  function getJsonByCallbacks(url, succesHandler, errorHandler) {
    var xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    xhr.open('GET', url, true);
    xhr.onload = function () {
      if (xhr.status == 200) {
        var data = (!xhr.responseType) ? JSON.parse(response) : xhr.response;
        succesHandler && succesHandler(data)
      } else {
        errorHandler && errorHandler(`Error ${xhr.status}`);
      }
    };
    xhr.onerror = function () {

      errorHandler && errorHandler('network error');
    };
    xhr.send(null);
  }

  getJsonByCallbacks('https://api.myjson.com/bins/1cqddv',
    function (data) {
      let blogData = data.articles;
      let projectsData = data.projects;

      console.log(blogData);
      let projectID = (getUrlVars()["project"] - 1);
      console.log(projectID);
      let tempStr = '';
      let projectInfo = projectsData[projectID];
      let projectElement = document.querySelector('#artwork');
      console.log(projectInfo);
      let tag = projectInfo.tags[0];
      let curentPage = window.location.href;
      tempStr +=
        `
      <div class="fb-grid__row">
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
        <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
          <div class="picText">
            <img src="${projectInfo.pictures[0]}" alt="picture of the campus">
            <h4>  ${projectInfo.projectName}</h4>
            <h5 class="date"> <a href="./profileStudent.html?profile=${projectInfo.artist}"> ${projectInfo.artist} </a> </h5>
            <p>${projectInfo.bodyText}</p>
            <span class="tag tagArticle"> 

              <div class="fb-share-button" data-href="${curentPage}" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbriavers.github.io%2Ftemporary_briavers%2FdetailArtwork.html%3Fproject%3D${projectInfo.projectId}&amp;src=sdkpreparse">Delen</a></div>

            </span>
          </div>
        </div>
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      </div>`;
      projectElement.innerHTML = tempStr;


      let blogElement = document.querySelector('#blog');
      //lege string aan maken
      var tempStr2 = '';



      let moreLikeThis = []
      console.log(projectsData)

      projectsData.forEach(function (projectsData) {
        if (projectsData.tags[0] === tag && projectsData.projectName !== projectInfo.projectName || projectsData.tags[0] === projectInfo.tags[1] && projectsData.projectName !== projectInfo.projectName || projectsData.tags[1] === projectInfo.tags[0] && projectsData.projectName !== projectInfo.projectName) {
          moreLikeThis.push(projectsData);
        } else {
          console.log('nothing found');
        }
      });


      function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
          let j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
      }

      shuffleArray(moreLikeThis);



      let amounthToSplice = (moreLikeThis.length - 4);
      if (amounthToSplice < 4) {
        amounthToSplice = 0
      }

      moreLikeThis.splice(4, amounthToSplice);
      console.log(moreLikeThis);
      moreLikeThis.forEach(function (moreLikeThis) {
        tempStr2 +=
          `<a href="./detailArtwork.html?project=${moreLikeThis.projectId}"> <div class="fb-grid__row margin-top blogSum">
              <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
                <img src="${moreLikeThis.pictures[0]}" alt="logo Portfolio rex" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
                <h5 class="articleName">${moreLikeThis.projectName}</h5>
                <span class="date"> ${moreLikeThis.artist}<br> </span>
                <span class="tag tagArticle"> ${moreLikeThis.tags[0]}</span>
              </div>
            </div> </a>`;
      });

      //de html in het element veranderen naar de inhoud van tempstr
      blogElement.innerHTML = tempStr2;

      if (moreLikeThis.length === 0) {
        let parent2 = document.querySelector('#parentArtwork');
        console.log(parent2);
        let child2 = document.querySelector('#childArtwork');
        console.log(child2);
        parent2.removeChild(child2);
      }
    },
    function (status) {
      console.log(status);
    }
  );
</script> {{/inline}} {{/layouts/base}}