{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}

<div id="page">
  <!--algemeen stuk gmd-->
  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
      <div class="picText">
        <img src="https://image.ibb.co/bvbdS6/grafimediabeleid.jpg">
        <h5>Grafimediabeleid</h5>
        <p>Ben je gepassioneerd door de impact van print- en multimedia op ons leven? Zoek je een gevarieerde afstudeerrichting
          die je klaarstoomt voor een job in de media- of grafische sector? Dan is grafimediabeleid ongetwijfeld iets voor
          jou. Het is een ideale mix tussen creatief ondernemen, innovatieve communicatie en productkennis binnen de sector.
          <br> Je kan kiezen uit twee verschillende trajecten.</p>
      </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    </div>
  </div>

  <!--crossmedia-->
  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
      <div class="picText">
        <img src="https://image.ibb.co/k4QPZm/crossmedia.jpg">
        <h5>Crossmedia</h5>
        <p>Crossmedia combineert marketing en creatief ondernemen met een flinke dosis kennis over technische print- en multimedia.
          Je leert luisteren naar de noden van klanten en hen adviseren hoe ze hun mediatoepassingen optimaal kunnen inzetten
          in commerciële campagnes. Na deze opleiding mag je jezelf een expert in digitale, sociale en printmedia noemen.</p>
      </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    </div>
  </div>

  <!--printmedia-->
  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
      <div class="picText">
        <img src="https://image.ibb.co/k98p0R/printmedia.jpg">
        <h5>Printmedia</h5>
        <p>Printmedia zoomt in op de technische aspecten van printproductie en bevindt zich pal op het kruispunt van creativiteit,
          innovatie en technologie. Als afgestudeerde ligt er ongetwijfeld een kleurrijke job op jou te wachten.</p>
      </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    </div>
  </div>

{{/inline}} {{#*inline "scripts-block"}}
 {{/inline}} {{/layouts/base}}