{{!-- pages/index.hbs --}} 

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"

}} {{#*inline "content-block"}}

<div id="page">
  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
      <div class="picText">
        <img src="https://image.ibb.co/iQ26XG/campus.jpg" alt="picture of the campus">
        <h5>GDM</h5>
        <p>Apps ontwikkelen, websites ontwerpen, advertenties vormgeven, foto's maken en bewerken, de commerciële en financiële
          kant van een grafisch bedrijf doorgronden of zelf een zaak opstarten? Waar je ook van droomt binnen de grafische
          en digitale media, deze opleiding is dé springplank voor je carrière!</p>
      </div>
    </div>
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
  </div>

  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
      <h6>Artworks</h6>
    </div>
    <div class="fb-grid__col-xs-5 fb-grid__col-sm-5 fb-grid__col-md-5 fb-grid__col-lg-5 fb-grid__col-xl-5 fb-grid__col-5"> </div>
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
      <br>
      <a href="#"> See all ></a>
    </div>
  </div>


  <div class="fb-grid__row scrolling scroll" id="artworks">

  </div>
  <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 scroll"></div>

  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
      <h6>Recent Blog Posts</h6>
    </div>
    <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2"> </div>
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
      <br>
      <a href="#"> See all ></a>
    </div>
  </div>

  <div id="blog">

  </div>

</div>
{{/inline}} {{#*inline "scripts-block"}}
{{!-- <script>
  console.log('json is called in');


  function getJsonByCallbacks(url, succesHandler, errorHandler) {
    var xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    xhr.open('GET', url, true);
    xhr.onload = function () {
      if (xhr.status == 200) {
        var data = (!xhr.responseType) ? JSON.parse(response) : xhr.response;
        succesHandler && succesHandler(data)
      } else {
        errorHandler && errorHandler(`Error ${xhr.status}`);
      }
    };
    xhr.onerror = function () {

      errorHandler && errorHandler('network error');
    };
    xhr.send(null);
  }

  getJsonByCallbacks('https://api.myjson.com/bins/jftnf',
    function (data) {
      console.log(data);
      let usersData = data.users;
      console.log(usersData);
      let projectsData = data.projects;
      console.log(projectsData);
      let blogData = data.articles;
      console.log(blogData);
      let projectsElement = document.querySelector('#artworks');

      //lege string aan maken
      var tempStr = '';
      //The forEach() method executes a provided function once for each array element.
      for (i = 0; i < 5; ++i) {
        //projectsData.forEach(function(uitvoer) {
        //de tempstr aanvullen met de ingeladen informatie
        tempStr +=
         `<div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 scroll"></div>
          <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8 scroll">
            <a href="./detailArtwork.html?project=${projectsData[i].projectId}">
              <div class="picText">
                <img src="${projectsData[i].pictures}" alt="picture of the campus" class="height">
                <div class= "textHeight">
                    <h5>${projectsData[i].projectName}</h5>
                    <p>${projectsData[i].artist}</br>
                    ${projectsData[i].degree}</p>
                    <span class="tag tagArticle">${projectsData[i].tags[0]}</span>
                </div>
              </div>
            </a>
          </div>`;
      };

      //de html in het element veranderen naar de inhoud van tempstr
      projectsElement.innerHTML = tempStr;


      let blogElement = document.querySelector('#blog');
      //lege string aan maken
      var tempStr2 = '';
      console.log(blogData.image);
      //The forEach() method executes a provided function once for each array element.
      for (i = 0; i < 3; ++i) {
        //projectsData.forEach(function(uitvoer) {
        //de tempstr aanvullen met de ingeladen informatie
        tempStr2 +=
           `<a href="./detailBlog.html?project=${blogData[i].articleId}"> <div class="fb-grid__row margin-top blogSum">
              <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
                <img src="${blogData[i].image}" alt="logo Portfolio rex" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
                <h5 class="articleName">${blogData[i].articleName}</h5>
                <span class="date"> ${blogData[i].date}<br> </span>
                <span class="tag tagArticle">Article</span>
              </div>
            </div></a>`;
      };
      
      //de html in het element veranderen naar de inhoud van tempstr
      blogElement.innerHTML = tempStr2;

    },
    function (status) {
      console.log(status);
    }
  );
</script> --}}
<script src="assets/js/index.min.js"></script>
{{/inline}} {{/layouts/base}}