{{!-- pages/index.hbs --}}

{{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./" }}

  {{#*inline "content-block"}}
      <div id="page">
      
        <div class="fb-grid__row">
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
          <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
            <div class="picText">
              <img src="./assets/images/campus.jpg" alt="picture of the campus">
              <h5>GDM</h5>
              <p>Information about GDM Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sequi delectus at earum
                quia tempore adipisci reprehenderit quos consectetur quod, dolore illo molestias suscipit iste exercitationem tenetur
                animi corrupti temporibus?</p>
            </div>
          </div>
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
        </div>
      
        <div class="fb-grid__row">
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
          <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
            <h6>Artworks</h6>
          </div>
          <div class="fb-grid__col-xs-5 fb-grid__col-sm-5 fb-grid__col-md-5 fb-grid__col-lg-5 fb-grid__col-xl-5 fb-grid__col-5"> </div>
          <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
            <br>
            <a href="#"> See all ></a>
          </div>
        </div>
      
      
      
      
        <div class="fb-grid__row scrolling scroll">
      
      
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 scroll"></div>
      
          <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8 scroll">
            <a href="#">
              <div class="picText">
                <img src="./assets/images/campus.jpg" alt="picture of the campus">
                <h5>GDM</h5>
                <p>Information about GDM Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sequi delectus at earum
                  quia tempore adipisci reprehenderit quos consectetur quod, dolore illo molestias suscipit iste exercitationem
                  tenetur animi corrupti temporibus?</p>
              </div>
            </a>
          </div>
      
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 scroll"></div>
      
          <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8 scroll">
            <a href="#">
              <div class="picText">
                <img src="./assets/images/campus.jpg" alt="picture of the campus">
                <h5>GDM</h5>
                <p>Information about GDM Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sequi delectus at earum
                  quia tempore adipisci reprehenderit quos consectetur quod, dolore illo molestias suscipit iste exercitationem
                  tenetur animi corrupti temporibus?</p>
              </div>
            </a>
          </div>
      
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 scroll"></div>
      
          <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8 scroll">
            <a href="#">
              <div class="picText">
                <img src="./assets/images/campus.jpg" alt="picture of the campus">
                <h5>GDM</h5>
                <p>Information about GDM Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium sequi delectus at earum
                  quia tempore adipisci reprehenderit quos consectetur quod, dolore illo molestias suscipit iste exercitationem
                  tenetur animi corrupti temporibus?</p>
              </div>
            </a>
          </div>
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 scroll"></div>
        </div>
      
        <div class="fb-grid__row">
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
          <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
            <h6>Recent Blog Posts</h6>
          </div>
          <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2"> </div>
          <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
            <br>
            <a href="#"> See all ></a>
          </div>
        </div>
      
        <div class="fb-grid__row margin-top blogSum">
          <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
            <img src="./assets/images/christmassTree.png" alt="logo Portfolio rex" class="radius5"> </div>
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
          <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
            <h5>First Blog Post</h5>
            <span class="date"> December 6th 2017
              <br> </span>
            <br>
            <span class="tag tagArticle">Article</span>
      
          </div>
        </div>
        <div class="fb-grid__row margin-top blogSum">
          <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
            <img src="./assets/images/christmassTree.png" alt="logo Portfolio rex" class="radius5"> </div>
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
          <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
            <h5>First Blog Post</h5>
            <span class="date"> December 6th 2017
              <br>
            </span>
            <br>
            <span class="tag tagArticle">Article</span>
      
          </div>
        </div>
        <div class="fb-grid__row margin-top blogSum">
          <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
            <img src="./assets/images/christmassTree.png" alt="logo Portfolio rex" class="radius5"> </div>
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
          <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
            <h5>First Blog Post</h5>
            <span class="date"> December 6th 2017
              <br>
            </span>
            <br>
            <span class="tag tagArticle">Article</span>
      
          </div>
        </div>
      </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
  {{/inline}}

{{/layouts/base}}