{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}

<div id="page">
  <div id="artwork">

  </div>


  <div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6" id="parent">
      <h6 id="child">more of this student</h6>
    </div>

    <div class="fb-grid__col-xs-4 fb-grid__col-sm-4 fb-grid__col-md-4 fb-grid__col-lg-4 fb-grid__col-xl-4 fb-grid__col-4">

      <input class="tag tagArticle submit" type="submit" value="Follow" id="followBtn">
    </div>
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"> </div>
  </div>

  <div id="otherWorks">

  </div>

</div>
{{/inline}} {{#*inline "scripts-block"}}

<script>


  function getUrlVars() {
    let vars = {};
    let parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, (m, key, value) => {
      vars[key] = value;
    });
    return vars;
  }

  let profileID = getUrlVars()["profile"];
  let student = profileID.replace(/%20/g, " ");
  console.log("Student ", student);



  function getJsonByCallbacks(url, succesHandler, errorHandler) {
let xhr = new XMLHttpRequest();
    xhr.responseType = 'json';
    xhr.open('GET', url, true);
    xhr.onload =  () => {
      if (xhr.status == 200) {
        let data = (!xhr.responseType) ? JSON.parse(response) : xhr.response;
        succesHandler && succesHandler(data)
      } else {
        errorHandler && errorHandler(`Error ${xhr.status}`);
      }
    };
    xhr.onerror =  () => {

      errorHandler && errorHandler('network error');
    };
    xhr.send(null);
  }

  getJsonByCallbacks('https://api.myjson.com/bins/1cqddv',
    function (data) {
      let projectsData = data.projects;
      console.log("project data ", projectsData);

      console.log("project id ", profileID);



      let allWorksByStudent = [];

      projectsData.forEach((projectsData) => {
        if (projectsData.artist === student) {
          console.log('found a match');
          allWorksByStudent.push(projectsData);
        }
      });

      console.log(allWorksByStudent);

      let projectElement = document.querySelector('#artwork');
      let tempStr = '';
      tempStr +=
        `
      <div class="fb-grid__row">
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
        <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
          <div class="picText">
            <img src="${allWorksByStudent[0].pictures[0]}" alt="picture of the campusfirst work of student">
            <h4>  ${allWorksByStudent[0].artist} </h4>
            <h5 class="date"> personal information </h5>
            <p>${allWorksByStudent[0].bodyText}</p>
          </div>
        </div>
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      </div>`;
      projectElement.innerHTML = tempStr;

      tempStr2 = '';
      for (i = 1; i < allWorksByStudent.length; ++i) {
        tempStr2 +=
          `<a href="./detailArtwork.html?project=${allWorksByStudent[i].projectId}"> <div class="fb-grid__row margin-top blogSum">
              <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3">
                <img src="${allWorksByStudent[i].pictures[0]}" alt="logo Portfolio rex" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6">
                <h5 class="articleName">${allWorksByStudent[i].projectName}</h5>
                <span class="date"> ${allWorksByStudent[i].artist}<br> </span>
                <span class="tag tagArticle"> ${allWorksByStudent[i].tags[0]}</span>
              </div>
            </div> </a>`;
      }
      let otherWorksElement = document.querySelector('#otherWorks');
      otherWorksElement.innerHTML = tempStr2;

      console.log(allWorksByStudent.length)
      if (allWorksByStudent.length === 1) {
        let parent = document.getElementById('parent');
        let child = document.getElementById('child');
        parent.removeChild(child);
      }

    },
    (status) => {
      console.log(status);
    }


  );




  followBtnElement = document.getElementById('followBtn')

  let logedIn = sessionStorage.getItem('logged-In');

  if (logedIn) {
    let retrievedObject = localStorage.getItem('localStorageObject');

    let hopeObject = JSON.parse(retrievedObject)
    console.log('retrievedObject: ', JSON.parse(retrievedObject));
    console.log('searching for the object now');

    let followingOldAray = hopeObject;
    console.log("followingOldAray ", followingOldAray);

    followBtnElement.classList.remove("disabled")
    followBtnElement.classList.add("active")

    let alreadyFollowing = followingOldAray.indexOf(student);
    console.log(alreadyFollowing);

    if (alreadyFollowing !== -1) {
      followBtnElement.classList.remove("active");
      followBtnElement.classList.add("following");
      followBtnElement.value = `Following`;
    } else {

      let followedProjects = [];
      followBtnElement.addEventListener("click",  () => {
        console.log('clicked');

        followingOldAray.push(student);
        localStorage.setItem('localStorageObject', JSON.stringify(followingOldAray));
      });
    }


  }




</script> {{/inline}} {{/layouts/base}}