{{!-- pages/index.hbs --}} {{#> layouts/base title="Home | New Media Development | Artevelde University College Ghent" pathToRoot="./"
}} {{#*inline "content-block"}}
  <div id="page">
    <!--titles-->
    <div class="fb-grid__row">
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
        <h5>Login</h5>
      </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    </div>
  
    <!--login-->
    <div id="form">
      <div class="fb-grid__row">
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
        <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8">
          <form method="post">
            <div id="alert"></div>
  
            <input type="email"    name="Email"    id="emailLogin"    placeholder="Email"    class="input radius5 margin-top">
            <input type="password" name="password" id="loginPassWord" placeholder="Password" class="input radius5 margin-top">
  
            <input class="tag tagArticle submit" type="submit" value="Login" id="login">
          </form>
        </div>
      </div>
  
    </div>
  
  
    <!--titles-->
    <div class="fb-grid__row">
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
        <h5>Register</h5>
        <h6>Who are you?</h6>
  
  
      </div>
      <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    </div>
    <!--images student teacher visitor-->
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3"></div>
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3"></div>
    <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3"></div>
  
    <!--form-->
    <div id="form">
      <div class="fb-grid__row">
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
        <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8">
          <form method="post">
            <div id="alert"></div>
            <input type="text" name="Name" id="Name" placeholder="Name" class="input radius5 margin-top">
            <input type="email" name="Email" id="Email" placeholder="Email" class="input radius5 margin-top">
            <input type="password" name="password" id="password" placeholder="Password" class="input radius5 margin-top">
            <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm password" class="input radius5 margin-top">
            <input class="tag tagArticle submit" type="submit" value="Register" id="submit">
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  </div>


  {{/inline}} {{#*inline "scripts-block"}} 
  <script>
    var loggedInnQ = sessionStorage.getItem('logged-In');
    if ( loggedInnQ ) {
      window.location.href = "./profile.html";
    }



      const nameElement = document.getElementById('Name');
      const emailElement = document.getElementById('Email');
      const passwordElement = document.getElementById('password');
      const passwordConfirmElement = document.getElementById('passwordConfirm');
      const alertElement = document.getElementById('alert');
      const formElement = document.getElementById('form');


      //login 
      
      console.log(nameElement);
      console.log(emailElement);
      console.log(passwordElement);
      console.log(passwordConfirmElement);
      console.log(alertElement);

      const btnLogin = document.getElementById('login');
      btnLogin.onclick = function (event) {
        event.preventDefault();
        tempstrAlert = "";
        let alertElement = document.getElementById('alert')
      
        let passwordLoginElement = document.getElementById('loginPassWord');
        let emailLoginElement = document.getElementById('emailLogin');

        console.log("emailLoginElement: ", emailLoginElement)
        console.log("passwordLoginElement: ", passwordLoginElement)

        // Retrieve the object from storage
        var retrievedObject = localStorage.getItem('Users');

        console.log('retrievedObject: ', JSON.parse(retrievedObject));

        console.log('searching for the object now')
        let arrayOfUsers = [];
        arrayOfUsers = JSON.parse(retrievedObject);


        arrayOfUsers.forEach(function(arrayOfUsers){
        email = emailElement.value;
        password = passwordElement.value;

        

          if (emailLoginElement.value === arrayOfUsers.email && passwordLoginElement.value === arrayOfUsers.password) {
            console.log('login-Succes');
            console.log('login-Succes');
            console.log('login-Succes');
            sessionStorage.setItem('logged-In', arrayOfUsers.email);
            window.location.href = "./index.html";
          } else {
            formElement.innerHTML = "";
            let tempstr = `
            <div class="fb-grid__row">
              <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
              <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10 picText">
                <h6>Login failed</h6>
                <p>Please try again.</p>

              </div>
            </div>
            <!--login-->
            <div id="form">
              <div class="fb-grid__row">
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
                <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8">
                  <form method="post">
                    <div id="alert"></div>

                    <input type="email" name="Email" id="emailLogin" placeholder="Email" class="input radius5 margin-top">
                    <input type="password" name="password" id="loginPassWord" placeholder="Password" class="input radius5 margin-top">

                    <input class="tag tagArticle submit" type="submit" value="Login" id="login">
                  </form>
                </div>
              </div>

            </div>`
            formElement.innerHTML += tempstr;
            
            }
          });
      }



      const btnSubmit = document.getElementById('submit');
      btnSubmit.onclick = function (event) {
        event.preventDefault();
        tempstrAlert = "";

        //console.log(nameElement);
        name = nameElement.value;
        console.log(name);



        if (name == "") {
          tempstrAlert += "<p>Fill in your name.</p><br>";
        }


        //console.log(emailElement);
        email = emailElement.value;
        console.log(email);
        if (email == "") {
          tempstrAlert += "<p>Fill in your email.</p><br>";
        }

        //console.log(passwordElement);
        password = passwordElement.value;
        console.log(password);
        if (password == "") {
          tempstrAlert += "<p>Fill in your chosen password.</p>";
        }
        //console.log(passwordConfirmElement);
        passwordConfirm = passwordConfirmElement.value;
        console.log(passwordConfirm);
        if (password == "") {
          tempstrAlert += "<p>Confirm in your chosen password.</p>";
        }

        if (password !== passwordConfirm) {
          tempstrAlert += "<p>The passwords are not the same.</p>";
        }



        alertElement.innerHTML = tempstrAlert;
        if (name && email && password && passwordConfirm && password == passwordConfirm) {

          formElement.innerHTML = "";

          console.log(formElement.innerHTML);


          
          let retrievedObject = localStorage.getItem('Users');
          console.log('retrievedObject: ', JSON.parse(retrievedObject));
          let arrayOfUsers = [];
          arrayOfUsers = JSON.parse(retrievedObject);
          console.log('searching for the object now');
          console.log(arrayOfUsers);
          if (retrievedObject === null){
            
            localStorageUsers =
              
              [
                
                {
                  'naam': name,
                  'email': email,
                  'password': passwordConfirm,
                  'function': 'testing'
                }
              ];
              
            
            localStorage.setItem('Users', JSON.stringify(localStorageUsers));
          } else {
            let accountExcists = false;
            arrayOfUsers.forEach(function (arrayOfUsers) {
              if  (arrayOfUsers.email = email){
                accountExcists = true;
              }
            });

            if (accountExcists) {
              console.log('account already excists');
              let tempstr = `
            <div class="fb-grid__row">
              <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
              <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10 picText">
                <h6>Email Already Excists</h6>
                <p>Please login with the correct credentials.</p>

              </div>
            </div>
            <!--login-->
            <div id="form">
              <div class="fb-grid__row">
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
                <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8">
                  <form method="post">
                    <div id="alert"></div>

                    <input type="email" name="Email" id="emailLogin" placeholder="Email" class="input radius5 margin-top">
                    <input type="password" name="password" id="passwordLogin" placeholder="Password" class="input radius5 margin-top">

                    <input class="tag tagArticle submit" type="submit" value="Login" id="login">
                  </form>
                </div>
              </div>

            </div>`
              tempstrAlert += "<p>The email has been used before please login with the correct credentials</p>";
              formElement.innerHTML += tempstr;
              alertElement.innerHTML = tempstrAlert;
            } else{




            let hopeObject = retrievedObject;
            console.log(typeof arrayOfUsers);
            console.log(typeof JSON.parse(retrievedObject));
            console.log("this is changingStorage b4 it is edited: " + retrievedObject);
            let addStorage =
                  {
                    'naam': name,
                    'email': email,
                    'password': passwordConfirm,
                    'function': 'testing'
                  };

            console.log("type of addstorage: ", typeof addStorage);

            arrayOfUsers.push(addStorage);
            console.log(arrayOfUsers);
            localStorage.setItem('Users', JSON.stringify(arrayOfUsers));
          
          retrievedObject = localStorage.getItem('Users');









          let tempstr = `<div class="fb-grid__row">
    <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10 picText">
        <h6>Registered</h6>
        <p>Below you can see your data.</p><br>
        <p>Your name: ${name}<br><br> Your email: ${email}</p>
    </div>
    </div>`;


      
          formElement.innerHTML += tempstr;
          console.log(formElement.innerHTML);
          }
          }
        }
      };
  </script>
  {{/inline}} {{/layouts/base}}