{{!-- layouts/base.hbs --}}
<!doctype html>
<html lang="nl-be" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    {{!-- Character encoding --}}
	  <meta charset="UTF-8"> 
	  {{!-- Latest version of rendering engine --}}
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{!-- Mobile Viewport --}}
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{> includes/head-seo}}

    {{> includes/head-opengraph}}

    {{!-- humans.txt --}}
    <link rel="author" type="text/plain" href="/humans.txt">
    {{!-- DNS prefech for CDN --}}
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    {{> includes/head-icons}}

    <link rel="stylesheet" media="all" href="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/css/main.css">

    {{#> head-block}}
      {{!-- Custom <head> content per page. --}}


    {{/head-block}}

  </head>
  <body>
    <div class="fb-grid__container">
      <!-- <img src="./assets/images/background.png" alt="backgroundimage" id="backgroundImage"> -->
      <div class="fb-grid__row header">
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2 red">
          <span class="logo">
    
            <a href="./index">
              <img src="https://image.ibb.co/jZn6XG/tyrannosaurus_Custum_Black.png" alt="logo Portfolio rex">
            </a>
    
          </span>
    
    
    
        </div>
    
        <div class="fb-grid__col-xs-8 fb-grid__col-sm-8 fb-grid__col-md-8 fb-grid__col-lg-8 fb-grid__col-xl-8 fb-grid__col-8 pink name">
    
          <p>Portfolio
            <br>Rex</p>
    
        </div>
    
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2 menu">
    
          <div class="containerMenuButton" id="menubutton">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
    
        </div>
    
      </div>
    
      <div id="menu">
        <div class="fb-grid__row">
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    
          <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
            <h1 id="menuTittle">Menu</h1>
          </div>
    
          <div class="fb-grid__col-xs-4 fb-grid__col-sm-4 fb-grid__col-md-4 fb-grid__col-lg-4 fb-grid__col-xl-4 fb-grid__col-4"> </div>
    
          <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
            <div class="logo">
              <a href="./index">
                <img src="https://image.ibb.co/d7DfsG/profile_Icon.png" alt="profile icon">
              </a>
            </div>
          </div>
    
          <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
            <div class="logo">
              <a href="./index">
                <img src="https://image.ibb.co/b99LsG/login_Icon.png" alt="login icon">
              </a>
            </div>
          </div>
        </div>
    
        <div class="fb-grid__row">
          <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
    
          <div class="fb-grid__col-xs-10 fb-grid__col-sm-10 fb-grid__col-md-10 fb-grid__col-lg-10 fb-grid__col-xl-10 fb-grid__col-10">
    
    
    
    
            <a href="./index.html">
              <div class="fb-grid__row menuItem">
                <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 noPadding">
                  <img src="https://image.ibb.co/cv1c7G/homeIcon.png" alt="main page icon" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 noPadding"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6 noPadding">
                  <h5>Main Page</h5>
                </div>
              </div>
            </a>
            <a href="./artworks.html">
              <div class="fb-grid__row menuItem">
                <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 noPadding">
                  <img src="https://image.ibb.co/evNLuw/Artworks.png" alt="artworks icon" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 noPadding"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6 noPadding">
                  <h5>Artworks</h5>
                </div>
              </div>
            </a>
            <a href="./index.html">
              <div class="fb-grid__row menuItem">
                <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 noPadding">
                  <img src="https://image.ibb.co/mnem1b/blogIcon.png" alt="blog rex" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 noPadding"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6 noPadding">
                  <h5>Blog</h5>
                </div>
              </div>
            </a>
            <a href="./index.html">
              <div class="fb-grid__row menuItem">
                <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 noPadding">
                  <img src="https://image.ibb.co/ckyFSG/about_Icon.png" alt="about icon" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 noPadding"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6 noPadding">
                  <h5>about</h5>
                </div>
              </div>
            </a>
            <a href="./index.html">
              <div class="fb-grid__row menuItem">
                <div class="fb-grid__col-xs-3 fb-grid__col-sm-3 fb-grid__col-md-3 fb-grid__col-lg-3 fb-grid__col-xl-3 fb-grid__col-3 noPadding">
                  <img src="https://image.ibb.co/kj8FSG/contact.png" alt="contact icon" class="radius5"> </div>
                <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1 noPadding"></div>
                <div class="fb-grid__col-xs-6 fb-grid__col-sm-6 fb-grid__col-md-6 fb-grid__col-lg-6 fb-grid__col-xl-6 fb-grid__col-6 noPadding">
                  <h5>Contact</h5>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    {{#> content-block}}
      {{!-- Content for the page goes here. --}}
    {{/content-block}}
      <div class="fb-grid__row footer margin-top">
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
          <a href="#">
            <img src="https://image.ibb.co/mdk4Kw/facebook.png" alt="facebook link">
          </a>
        </div>
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
          <a href="#">
            <img src="https://image.ibb.co/eGt26b/twitter.png" alt="twitter link">
          </a>
        </div>
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
          <a href="./index.html">
            <img src="https://image.ibb.co/jZn6XG/tyrannosaurus_Custum_Black.png" alt="portfolio-rex link">
          </a>
        </div>
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
          <a href="#">
            <img src="https://image.ibb.co/dCqRXG/instagram.png" alt="instagram link">
          </a>
        </div>
        <div class="fb-grid__col-xs-2 fb-grid__col-sm-2 fb-grid__col-md-2 fb-grid__col-lg-2 fb-grid__col-xl-2 fb-grid__col-2">
          <a href="#">
            <img src="https://image.ibb.co/fbxjKw/google_Plus.png" alt="instagram link">
          </a>
        </div>
        <div class="fb-grid__col-xs-1 fb-grid__col-sm-1 fb-grid__col-md-1 fb-grid__col-lg-1 fb-grid__col-xl-1 fb-grid__col-1"></div>
      </div>
</div>
    <!-- build:js assets/js/main.min.js -->
    <script src="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/js/main.js"></script>
    <script src="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/js/fun.js"></script>
    <!-- endbuild -->

    {{#> scripts-block}}
      {{!-- Custom scripts per pag.e --}}

    {{/scripts-block}}

    {{!-- {{> includes/google-analytics}} --}}

  </body>
</html>