/// Color tags
/// @group abstracts
/// @access public
/// @type Number
$color-light-blue: #97cfde;

/// Color text
/// @group abstracts
/// @access public
/// @type Number
$color-dark-blue: #2d374b;

/// Color body
/// @group abstracts
/// @access public
/// @type Number
$color-gray: #efefef;

/// Color background
/// @group abstracts
/// @access public
/// @type Number
$color-white: white;

/// Color tags
/// @group abstracts
/// @access public
/// @type Number
$color-green: #26a69a;
