html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: $color-gray;
}

.logo a img {
  height: 35px;
  padding-top: 17px;
}

.menu span.nav {
  width: 25px;
  height: 5px;
  background-color: $color-dark-blue;
  padding: 5px, 0;
}

.header {
  background-color: none;
}

.containerMenuButton {
  display: inline-block;
  cursor: pointer;
  padding: 15px 0 0 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: $color-dark-blue;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.bar3 {
  width: 17px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-135deg) scaleX(1.3) translateY(11px) translateX(4px);
  transform: rotate(-135deg) scaleX(1.3) translateY(11px) translateX(4px);
}

.change #menu {
  display: none;
}

.change #page {
  display: block;
}

#menu {
  display: none;
}

#page {
  display: block;
}

#menuTittle {
  line-height: 1rem;
}

.radius5 {
  border-radius: 5px;
}

.noPadding {
  padding: 0;
}

.menuItem {
  margin-top: -5%;
}

.fb-grid__container {
  background-image: url('https://image.ibb.co/ge8PKw/background.png');
  background-repeat: no-repeat;
}

.picText {
  background-color: $color-white;
  padding: 0;
  border-radius: 5%;
}

.picText img {
  width: 100%;
  padding: 0;
  border-radius: 5% 5% 0 0;
}

.scrolling {
  overflow: auto;
  white-space: nowrap;
}

.scroll {
  display: inline-block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

#page > div.fb-grid__row.scrolling.scroll > div:nth-child(2) {
  padding: 0;
}

.blogSum img {
  width: 100%;
}

.footer img {
  width: 50%;
}
