body {
  font-family: $base-font-family;
  font-size: #{$base-font-size}px;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;

  @include type-setting(1);

  margin: 0 0 1rem;
  font-weight: normal;
}

h1 {
  @include type-setting(6);
}

h2 {
  @include type-setting(5);
}

h3 {
  @include type-setting(4);
}

h4 {
  @include type-setting(3);
}

h5 {
  @include type-setting(2);

  font-size: 1rem;
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  color: #2d374b;
  height: 0;
}

.name {
  line-height: 17px;
  font-family: lato, sans-serif;
  font-size: 20px;
  text-align: center;
}

.picText h5 {
  margin-top: -3%;
}

.picText p {
  margin-top: -3%;
  padding: 0 10px 20px;
}

.scrolling .picText {
  display: inline-block;
  width: 100%;
  overflow: auto;
  white-space: normal;
}

.margin-top {
  margin-top: 1.5rem;
}

.margin-top h5 {
  margin-bottom: -5%;
}

.articleName {
  line-height: normal;
}

.date {
  color: $color-dark-gray;
  margin-top: 15px;
  padding-top: 0;
  display: block;
  margin-left: 5%;
}

.tag {
  background-color: $color-green;
  padding: 5px 10%;
  margin: 15px 5px;
  border-radius: 5px;
  display: block;
  width: fit-content;
}

.tag.Ionic,
.tag.JavaScript,
.tag.CSS {
  background-color: $color-light-blue;
  color: $color-dark-blue;
}

.tag.Undifined {
  display: none;
}
